[submodule "frontend"]
	path = frontend
	url = https://github.com/manuelluvuvamo/manuelluvuvamo.com.git
[submodule "backend"]
	path = backend
	url = https://github.com/manuelluvuvamo/manuelluvuvamo-api.git
